
body {
	background-color: #DFDAD5;
}

.monheader {
	display: inline;
	text-align: center;
}

.manavbar {
	text-align: center;
	background-color: #130F44;
	font-size: 14px;
	font-weight: bold;
	font-family: "Ubuntu", Arial, Verdana;
	padding-top: 4px;
	height: 30px;
}

.manavbar a {
	color: #FFFFFF;
}

.manavbar:hover {
	background-color: #FFFFFF;
	color: #130F44;
	border-style: solid none none none;
	border-width: 2px;
	border-color: #130F44;
}

.manavbar:hover a {
	color: #130F44;
}

.moncontent {
	background-color: #FFFFFF;
}


.partenaire p {
	font-size: 15px;
	font-family: Arial;
	font-weight: normal;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.monfooter {
	text-align: center;
	color: #FFFFFF;
	background-color: #130F44;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial, Verdana;
	padding-top: 4px;
	height: 25px;
	width: 33%;
}
.row-footer {
	margin: 0 auto 0 auto;
}
.financiers img {
	margin: 0 10px 0 10px;
	max-height: 90px;
	max-width: auto;
}

.pedago img {
	margin: 0 10px 0 10px;
	max-height: 150px;
	max-width: auto;
}

.techno img {
	margin: 0 10px 0 10px;
	max-height: 150px;
	max-width: auto;
}